
<fieldset>
    <legend><h2 bgcolor="lightred"><b>Write an article</b></h2></legend>
    <p style="font-size:15px">Here you can write your experience with angular 2. We know its not easy to learn angular within a week
      and without any help. Your article will be seen by our registered users. If possible write a very catchy title so that more people read it.
      We feel you <3.
    </p>
    </fieldset>
    <br><br>

    <div class="center">
<form class="form-horizontal">
    <div class="form-group">
    <input type="text" class="form-control form1" id="Name" placeholder="Name">
    </div>

    <div class="form-group">
    <input type="date" class="form-control form1" id="Date" placeholder="Date">
    </div>
    

    <div class="form-group">
    <input type="text" class="form-control form1" id="title" placeholder="Title">
    </div>


    <div class="form-group">
    <textarea rows="10" cols="75" class="form-control" id="Content" placeholder="Content"></textarea>
    </div>
        
    <div class="form-group">
    <button type="submit" class="btn btn-lg">Submit</button>
    </div>
    
      
  </form>
  </div>