.form1{

    font-size:20px;
    height: 50px;

}

.form-control
{

    font-size:20px;
    

}


.btn-lg{

    width:120px;
    font-size: 20px;
    font-style: inherit;
    background-color: #4CAF50;
    }

    .center {
        margin: auto;
        width: 60%;
        border: 0px solid #73AD21;
        padding: 10px;
    }
    