<div class="row">

    <div class="center">
      <div style="text-align:center;">
      <h1>Sign up</h1>
      <p>
        <a href="#">Have an account?</a>
      </p>
      </div>
      
      <form class="form-group">
         <div class="inputfield">
          <input class="form-control" name="username" placeholder="Username" type="text">
          </div>

           <div class="inputfield">
            <input class="form-control" name="email" placeholder="Email" type="text">
            </div>
           
            <div class="inputfield">
           <input class="form-control" name="password" placeholder="Password" type="password">
           </div> 
           <div class="but">
           <button class="btn btn-lg" style="background-color: #4CAF50;" type="submit">Sign up</button>
           </div>
        </form>
    </div>

  </div>