<div style="text-align:center" class="band">
    <br><br>
    <font size="20" face="Times New Roman">
    Welcome to {{ title }}!
  </font>
  <br>
  <font face="Courier New" size="5">A Place to Share Your <i>Angular</i> Knowledge.</font> 
</div>

<h1><span><span>All the Posts</span></span></h1>
<br>
<div *ngIf="flag==0">
    
<div *ngIf="blog[0];else other">
<div *ngFor="let x of blog;let i=index">  
    <div class="panel panel-success">
        <div class="panel-body">
        <article>
            <h2><b>{{x.title}}</b></h2>
            <p class="article-meta"><strong>Author:</strong>{{x.name}}, <strong>Published:</strong>{{x.date}}</p>
              <p><font face="Times New Roman" size="5"> {{x.content}}</font> </p>
            </article>
</div>
</div>
</div>
 
</div>
<ng-template #other>
    <h1 style="color:white;font-size:50px">
        not found 
    </h1>
</ng-template>
 
</div>




